@import "bootstrap";

@imageDimension: 150px;

.example {
  padding: 10px;
  #dropzone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
  }
  #file-input {
    margin: auto;
  }
}

.gallery-row {
  float: none;
  margin: 0 auto;
}

#error-message {
  text-align: center;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

.progress{
  margin-left: 0;
  margin-right: 0;
  .progress-bar{
    margin-left: 0;
    margin-right: 0;
  }
}